.home__container {
  max-width: 1160px;
  margin: 0 auto;
  .home__container-top {
    display: flex;
    justify-content: space-between;

    .home__container-left {
      .home__container-left-header {
        display: flex;
        gap: 64px;
        align-items: center;

        .home__container-left-content {
          display: grid;
          gap: 0.4rem;

          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.2px;
          }

          h2 {
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -1.5px;
          }
        }

        button {
          border-radius: 100px;
          background: #131316;
          padding: 14px 28px;
          color: #fff;
          font-family: "Degular Bold";
          width: 167px;
          min-height: 56px;

          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: -0.4px;
          cursor: pointer;
        }
      }
    }

    .home__container-right {
      display: grid;
      gap: 32px;

      .home__container-right-items {
        display: grid;
        gap: 12px;

        p {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: -0.2px;
          display: flex;
          align-items: center;
          gap: 8px;
          width: 271px;
          justify-content: space-between;
        }

        h3 {
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: -0.6px;
        }
      }
    }
  }

  .home__container-bottom {
    margin-top: 3rem;

    .home__container-bottom--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eff1f6;
      padding-bottom: 2em;

      .home__container--header-left {
        h2 {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: -0.6px;
        }

        p {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: -0.2px;
        }
      }

      .home__container--header-right {
        display: flex;
        gap: 12px;

        button {
          display: flex;
          padding: 12px 20px 12px 20px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 100px;
          background: #eff1f6;
          min-width: 107px;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: -0.4px;
          color: #131316;
          font-family: "Degular Bold";
          cursor: pointer;
        }
      }
    }

    .home__container-bottom-transactions {
      margin-top: 3rem;
      display: grid;
      gap: 24px;

      .transaction--items {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .transaction--items-left {
          display: flex;
          align-items: center;
          gap: 1rem;

          .transaction-icon {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: grid;
            place-items: center;
          }

          .transaction--item-content {
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: -0.2px;
              color: #131316;
            }

            span {
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 16px;
              letter-spacing: -0.2px;
              color: #56616b;
              font-family: "Degular normal";
            }
          }
        }

        .transaction--items-right {
          h3 {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: -0.4px;
            color: #131316;
          }

          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.2px;
            color: #56616b;
          }
        }
      }
    }
  }
}

/* Slider Stylings */

.home__filter-slider-container {
  padding-top: 2rem;
  display: grid;
  gap: 1rem;

  .home__filter-ranges-options {
    display: flex;
    justify-content: space-between;
    .filter-date-options {
      width: fit-content;
      padding: 10px 18px;
      border-radius: 100px;
      border: 1px solid #eff1f6;
      background: #fff;
      font-size: 14px;
      font-family: "Degular bold";
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: -0.4px;
      cursor: pointer;
    }
  }

  .home__filter-transaction-select {
    display: grid;
    gap: 0.7rem;

    label {
      color: #131316;
      font-family: "Degular Bold";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.4px;
    }

    .filter-select-input {
      border-radius: 12px;
      border: 1px solid #eff1f6;
      background: #eff1f6;
      width: 410px !important;
    }
  }

  .home__filter-slider-btns {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    width: 410px;
    gap: 12px;

    button {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 100px;
      width: 100%;
      font-family: "Degular normal";
    }

    .clear-filter {
      border: 1px solid #eff1f6;
      background: #fff;
    }

    .apply-filter {
      background: #131316;
      color: #fff;
    }
  }
}

.home__filter-date-range {
  display: grid;
  gap: 0.7rem;

  .date_range-input {
    display: flex;
    width: 100%;
    gap: 1rem;

    input {
      width: 100%;
      border-radius: 12px;
      border: 1px solid #eff1f6;
      background: #eff1f6;
      padding: 14px 16px;
      font-family: "Degular normal";
      outline: none;

      &:focus {
        border: 3px solid #131316 !important;
      }

      &:focus-within {
        border: 3px solid #131316 !important;
      }
    }
  }
}
