* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Degular Bold";
  src: url("../../public/fonts/degular-bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Degular normal";
  src: url("../../public/fonts/degular-regular.otf");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "Degular normal";
  color: #56616b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Degular Bold";
  color: #131316;
}

button {
  border: none;
}
